<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
<!--<![endif]-->
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Like a Riot</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" type='text/css' href="{% static "css/reset.css" %}">
	<link rel="stylesheet" type='text/css' href="{% static "css/grid.css" %}">
	<link rel="stylesheet" type='text/css' href="{% static "css/layout.css" %}">
	<link rel="stylesheet" type='text/css' href="{% static "css/owl.carousel.css" %}">
	<link rel="stylesheet" type='text/css' href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" type='text/css' href="{% static "css/swipebox.css" %}">

	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700italic,400italic,300,900,900italic,700,300italic' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="static/images/favicon.ico">

</head>
<body>

	<!-- Main Container -->
	<div class="main__container">

		<!-- Mobile Menu-->
		<div class="mobile-menu__wrap">
			<nav class="mobile-menu__nav">
				<div class="icon-list">
					<div class="mobile-menu__search">
						<input id="mobile-search" type="search" placeholder="Search...">
					</div>
					<ul class="mobile-menu__list">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/fashion">Fashion</a></li>
						<li><a href="/wanderlust">Wanderlust</a></li>
						<li><a href="/lifestyle">Lifestyle</a></li>
						<li><a href="http://cllct.net">CLLCT</a></li>
					</ul>
				</div>
			</nav>
			<button class="close-button" id="close-button"></button>
		</div> 
		<button class="menu-button" id="open-button">Open Menu</button>


		<div class="content-wrap">
			<div class="content">

				<!-- Header Container -->
				<header class="main-header">

					<!-- Logo in header container -->
					<div class="main-header__logo">
						<div class="container">
							<div class="sixteen columns">

								<!-- Logo Link and Image -->
								<a class="header__logo" href="/">
									<img src="{% static "images/Headerfinal.jpg" %}" alt="Like a Riot - Fashion and Lifestyle blog."/>
								</a>
							</div>
						</div>
					</div>

					{% if request.get_full_path == '/' or '/?page=' in request.get_full_path %}
						{% block featured %}{% endblock %}
					{% endif %}

					<div class="main-header__navigation" id="sticky">
						<div class="wrapper">
							<div id="left">
								<ul class="navigation__list flex-container center">
									<li>
										<img class="lang-flag" src="{% static "images/usflag.jpg" %}">
										<!--<a href="" style="margin-top: -1px;"><i class="fa fa-flag"></i></a>-->
									</li>
									{% search_form "all" %}
									<!--<li class="main-header__search">
										<input class="flex-container flex-start" id="header-search" type="search" placeholder="Search">
									</li>-->
								</ul>
							</div>
							<div id="center">
								<ul class="navigation__list flex-container center">
									<li><a href="/">Home</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="/fashion">Fashion</a></li>
									<li><a href="/wanderlust">Wanderlust</a></li>
									<li><a href="/lifestyle">Lifestyle</a></li>
									<li><a href="http://cllct.net">CLLCT</a></li>
								</ul>
							</div>
							<div id="right">
								<ul class="navigation__list flex-container center">
									<li>
										<a href="https://www.facebook.com/LikeRiot">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/wearelikeariot/">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/livelikeariot/">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
									<li>
										<a href="http://www.bloglovin.com/blog/11173263/like-a-riot-fashion-amp-travel-blog">
											<i class="fa fa-heart"></i>
										</a>
									</li>
									<li>
										<a href="https://twitter.com/LikeRiots">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="mailto:cooperations@likeariot.com">
											<i class="fa fa-envelope"></i>
										</a>
									</li>
									<li>
										<a href="feed://likeariot.com/feed/">
											<i class="fa fa-rss"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Navigation menu container -->
					<div style="display: none;" class="main-header__navigation" id="sticky">

						<div style="display: none;" class="container">
							<!--<div class="sixteen columns">-->
					
								<!-- Navigation List -->
								<div class="one-third left">
									<div class="table">
										<ul class="navigation__list">
											<li id="search-input" class="main-header__search">
												<input id="header-search" type="search" placeholder="Search">
											</li>
										</ul>
									</div>
								</div>
								<div class="one-third">
								<div class="table">
									<ul class="navigation__list">
										<!--<li><a href="#"><i class="fa fa-search"></i></a></li>-->
										<!--<li id="search-input" class="main-header__search">
											<input id="header-search" type="search" placeholder="Search">
										</li>-->
										<li><a href="/">Home</a></li>
										<li><a href="/">About</a></li>
										<li><a href="#">Fashion</a></li>
										<li class="submenu-link"><a class="arrow" href="#">Wanderlust</a>
											<!-- Submenu-->
											<ul>
												<li><a href="single.html">INSERT WORLD MAP HERE</a></li>
											</ul>
										</li>
										<li><a href="">Lifestyle</a></li>
										<li><a href="#">CLLCT</a></li>
									</ul>
								</div>
								</div>
								<div class="one-third right">
								<div class="table">
									<ul class="navigation__list">
										<li>
											<a href="https://www.facebook.com/LikeRiot">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/wearelikeariot/">
												<i class="fa fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/livelikeariot/">
												<i class="fa fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="http://www.bloglovin.com/blog/11173263/like-a-riot-fashion-amp-travel-blog">
												<i class="fa fa-heart"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/LikeRiots">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="mailto:cooperations@likeariot.com">
												<i class="fa fa-envelope"></i>
											</a>
										</li>
										<li>
											<a href="feed://likeariot.com/feed/">
												<i class="fa fa-rss"></i>
											</a>
										</li>
									</ul>
								</div>
								</div>
							<!--</div>-->
						</div>
					</div>

				</header>


				<!-- Main Content ( list of posts ) 
				=================================== -->
				<section class="main-content">

					<div class="container">

						<div class="sixteen columns">

							{% block main %}{% endblock %}

						</div>

					</div><!-- / Container -->

				</section><!-- / Main Content -->

				<section id="bottom-content">
					<div class="container">
						
						<div class="eight columns" id="happinesswhenshared">
							<article class="tweet">

									<div>

										<!-- head of tweet -->
										<header class="tweet__header">

											<!-- Tweet author photo -->
											<div class="tweet__avatar">
												<img src="{% static "images/avatar.png" %}" alt="" />
											</div>

											<!-- Tweet author name and nickname -->
											<a href="#">
												<p class="tweet__author">Like a Riot</p>
												<p class="tweet__nick">Happiness only real when shared</p>
											</a>

											<div class="tweet__separator">
												<img src="{% static "images/vintagecamera.png" %}" alt="picture not found" />
											</div>

										</header>

										<blockquote class="tweet__content">
											<p>Ein Leben zwischen Deutschland und Island, zwischen Outdoor Abenteuer und Dinner Party - zwei beste Freundinnen erobern die Welt im Sturm und mit Style. Persönlich, euphorisch, authentisch und mit einer großen Portion Wagemut. You want our life? You can have our life.</p><p>GO DO!</p>
										</blockquote>

									</div>

							</article><!-- // Tweet -->
						</div>
						<div class="eight columns" id="welovecontainer">
							<a href="https://www.maedchenflohmarkt.de/kleiderschrank/73931/likeariot-1279" id="welovelink">
								<img src="{% static "images/welove.jpg" %}" id="weloveimg">
								<iframe src="https://www.maedchenflohmarkt.de/widget/73931" id="maedchenflohmarkt_widget" frameborder="0" style="border:1px solid #e9e9e9;"></iframe>
							</a>
						</div>

					</div>
				</section>


				<!-- Footer -->
				<footer id="footer" class="footer">

					<!-- Widgets Container -->
					<section class="footer__widgets">

						<div class="container">

							<!-- widget -->
							<div class="eight columns">
								<div class="footer__widget">
									<img src="{% static "images/footer1_4.png" %}" alt="" />
									<p>For all business inquiries:</p>
									<p><a class="mail footer_links" href="mailto:cooperations@likeariot.com">cooperations@likeariot.com</a></p>
									<!-- Social Networks -->
									<ul class="footer__socials">
										<li>
											<a href="https://www.facebook.com/LikeRiot">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/wearelikeariot/">
												<i class="fa fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/livelikeariot/">
												<i class="fa fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="http://www.bloglovin.com/blog/11173263/like-a-riot-fashion-amp-travel-blog">
												<i class="fa fa-heart"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/LikeRiots">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="mailto:cooperations@likeariot.com">
												<i class="fa fa-envelope"></i>
											</a>
										</li>
										<li>
											<a href="feed://likeariot.com/feed/">
												<i class="fa fa-rss"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<!-- widget -->
							<div class="eight columns">
								<div class="footer__widget">
									<h3 class="widget__title">Follow our journey on 
									<span id="instagram-name"><br>Instagram</span></h3>
									<ul class="widget__instagram">
										<li><a href="#"><img src="{% static "images/insta1.jpg" %}" alt="" /></a></li>
										<li><a href="#"><img src="{% static "images/insta1.jpg" %}" alt="" /></a></li>
										<li><a href="#"><img src="{% static "images/insta1.jpg" %}" alt="" /></a></li>
										<li><a href="#"><img src="{% static "images/insta1.jpg" %}" alt="" /></a></li>
										<li><a href="#"><img src="{% static "images/insta1.jpg" %}" alt="" /></a></li>
										<li><a href="#"><img src="{% static "images/insta1.jpg" %}" alt="" /></a></li>
									</ul>
									<p class="location">We are here: <span id="location-name">Reykjavik Iceland</span></p>
								</div>
							</div>

						</div><!-- / Container -->

					</section><!-- / Widgets Widgets -->

					<!-- Bottom section of footer -->
					<section class="footer__bottom">
						<div class="container bordered">
							<div class="wrapper">
								<div class="left">
									<!-- copyrights -->
									<p class="copyrights para-left">Made with <span class="fa fa-heart"></span> by <a class="footer_links" href="http://logileifs.pw">logileifs</a></p>
								</div>
								<div class="center">
									<!-- copyrights -->
									<ul id="bottom-links" class="flex-container center">
										<li><a href="">Imprint</a></li>
										<li><a href="">DSE</a></li>
										<li><a href="">Contact</a></li>
										<li>
											<a href="javascript:void(0)" id="disclaimer">Disclaimer</a>
										</li>
									</ul>
								</div>
								<div class="right">
									<!-- copyrights -->
									<p class="copyrights para-right">Fonts from <a class="footer_links" href="http://www.onlinewebfonts.com"> oNline Web Fonts</a> licensed by CC BY 3.0</p>
								</div>
							</div>
						</div>

						<!-- / Container -->
						<!--<div class="container bordered">

							<div class="eight columns">
								
							</div>

							<div class="eight columns">

								

							</div>

						</div>-->

					</section><!-- / Bottom footer -->

				</footer><!-- / Footer -->

			</div><!-- Content -->

		</div><!-- Wrap -->

	</div>

	<!--<a href="#0" class="cd-top">Top</a>-->

<!-- End Document
================================================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/main.js"></script> <!-- Gem jQuery -->
	<script src="{% static "js/min/jquery-1.11.1.min.js" %}"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="{% static "js/min/jquery-scrolltofixed-min.js" %}"></script>
	<script src="{% static "js/min/classie.min.js" %}"></script>
	<!--<script src="static/js/min/owl.carousel.min.js"></script>-->
	<script src="{% static "js/owl.carousel.js" %}"></script>
	<script src="{% static "js/min/retina.min.js" %}"></script>
	<!--<script src="{% static "js/min/smoothscroll.min.js" %}"></script>-->
	<script src="{% static "js/min/mobile-menu.min.js" %}"></script>
	<script src="{% static "js/min/placeholdem.min.js" %}"></script>
	<!--<script src="{% static "js/min/jquery.parallax-1.1.3.min.js" %}"></script>-->
	<script src="{% static "js/min/jquery.prettyembed.min.js" %}"></script>
	<script src="{% static "js/min/fitvids.min.js" %}"></script>
	<!--<script src="{% static "js/min/jquery.skippr.min.js" %}"></script>-->
	<script src="{% static "js/min/jquery.swipebox.min.js" %}"></script>
	<!--<script src="{% static "js/min/jquery.scrollme.min.js" %}"></script>-->
	<!--<script src="static "js/min/main.min.js" %}"></script>-->
	<script src="{% static "js/main.js" %}"></script>
</body>
</html>